numpy==2.5.1
pandas==3.0.3
matplotlib==3.11.0
opencv-python==5.0.0.93
scikit-learn==1.9.0
scipy==1.18.0
pillow==12.3.0
openpyxl==3.1.2
jupyter==1.1.1
ipykernel==7.3.0
torch==2.13.0
torchvision==0.28.0
